<% include ../partials/header %>

<h1>Create a new movie</h1>

<form action="/movies" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="director" placeholder="director">
    <input type="text" name="year" placeholder="release year">
    <input type="text" name="poster" placeholder="poster url">
    <textarea name="synopsis">synopsis</textarea>
    <button>Submit</button>
</form>

<% include ../partials/footer %>